@font-face {
  font-family: 'IBMPlexSansKR-Bold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'IBMPlexSansKR-Medium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit; }

/* lib start */
img {
  display: block; }

.con {
  width: 100%; }

.height-100p {
  height: 100%; }

.img-box img {
  width: 100%; }

.block {
  display: block; }

.bold {
  font-style: bold; }

.normal {
  font-style: normal; }

.plex-bold {
  font-family: 'IBMPlexSansKR-Bold', sans-serif; }

.plex-medium {
  font-family: 'IBMPlexSansKR-Medium', sans-serif; }

.plex-normal {
  font-family: 'IBMPlexSansKR-Regular', sans-serif; }

.nanumsquare {
  font-family: 'NanumSquare', sans-serif !important; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-jc-a {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.flex-jc-b {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-d-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-1-0-0 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0; }

.title {
  opacity: 70%;
  font-family: 'IBMPlexSansKR-Bold', sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #731b43; }

.subtitle {
  font-family: 'NanumSquare', sans-serif;
  font-weight: bold;
  font-size: 3.6rem; }

/* lib end */
html,
body {
  font-size: 10px;
  font-family: 'NanumSquare', sans-serif !important;
  color: #5d5454; }

header > div.row div.logo {
  width: 180px;
  height: 80px;
  margin: 30px 0; }
header > nav#menu {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 1280px;
  position: relative; }
  header > nav#menu > ul > li > a {
    color: #731b43;
    opacity: 70%; }
    header > nav#menu > ul > li > a:hover {
      opacity: 100%; }
  header > nav#menu > ul > li > a {
    padding: 20px 40px;
    font-size: 1.8rem; }
  header > nav#menu > ul.sns-menu {
    position: absolute;
    right: 0;
    top: 0; }
    header > nav#menu > ul.sns-menu > li > a {
      font-size: 2rem;
      padding: 0 12px; }
    header > nav#menu > ul.sns-menu > li:last-child > a {
      padding-right: 0; }

section#slide {
  width: 100%;
  height: 700px;
  background-color: #ddc1c1; }

section#best-items {
  margin: 100px 0;
  font-size: 1.4rem; }
  section#best-items > div.con {
    margin-top: 35px;
    height: 700px;
    background-color: rgba(200, 200, 200, 0.2); }
    section#best-items > div.con > div.row {
      max-width: 1280px;
      margin: 0 auto;
      padding: 20px 0;
      position: relative; }
      section#best-items > div.con > div.row > div.img-con {
        position: relative;
        width: 300px;
        height: 300px;
        margin-right: 72px; }
        section#best-items > div.con > div.row > div.img-con > div.img-box {
          width: 300px;
          height: 300px;
          position: absolute;
          top: 0;
          left: 0; }
          section#best-items > div.con > div.row > div.img-con > div.img-box > img {
            width: 100%;
            height: 100%;
            position: absolute; }
          section#best-items > div.con > div.row > div.img-con > div.img-box:last-child {
            width: 170px;
            height: 170px;
            top: unset;
            bottom: 0;
            left: 60%; }

/*# sourceMappingURL=style.css.map */