@charset "utf-8";

// font start
@font-face {
    font-family: 'IBMPlexSansKR-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');



// font end
// var start

$max-width: 1280px;
$key-color: #5d5454;
// $key-color: #731b43;
$img-width: 300px;
$small-img-width: 170px;

// var end
// normalize
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: inherit;
}

/* lib start */

img {
    display: block;
}

.con {
    width: 100%;
}

.height-100p {
    height: 100%;
}

.img-box {
    img {
        width: 100%;
    }
}

.block {
    display: block;
}


.bold {
    font-style: bold;
}

.normal {
    font-style: normal;
}

.plex-bold {
    font-family: 'IBMPlexSansKR-Bold', sans-serif;
}

.plex-medium {
    font-family: 'IBMPlexSansKR-Medium', sans-serif;
}

.plex-normal {
    font-family: 'IBMPlexSansKR-Regular', sans-serif;
}

.sans{
    font-family: 'Noto Sans KR', sans-serif;
}

.flex {
    display: flex;
}

.flex-jc-c {
    justify-content: center;
}

.flex-jc-a {
    justify-content: space-around;
}

.flex-jc-b {
    justify-content: space-between;
}

.flex-jc-e{
    justify-content: flex-end;
}

.flex-ai-c {
    align-items: center;
}

.flex-d-c {
    flex-direction: column;
}

.flex-1-0-0 {
    flex: 1 0 0;
}

.title{
    opacity: 70%;
    font-family: 'IBMPlexSansKR-Bold', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: $key-color;
    margin-bottom: 35px;
}

.subtitle{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 3.6rem;
}

.link-btn{

    display: inline-block;

    & > a{
        font-size: 1.4rem;
        border: 1px solid $key-color;
        padding: 8px 14px;
    }
}

/* lib end */

// animation start

@keyframes headerfix_ani{

    from{
        transform: translateY(-100%);
    }

    to{
        transform: translateY(0);
    }


}

// animation end

html,
body {
    font-size: 10px;
    font-family: 'Noto Sans KR', sans-serif !important;
    color: #5d5454;
    overflow-x: hidden;
}

// header start

header {

            // fixed menu
            &.fixed {

                & > div.row{
                    padding-bottom: 67px;
                }

                & > nav#menu {
                    position: fixed;
                    top: 0;
                    left: 0;
                    animation-name: headerfix_ani;
                    animation-duration: 0.3s;
                    animation-iteration-count: 1;

                    & > ul.depth-1{
                        div.logo{
                            
                        }

                    }
        
                }

            }
            


    &>div.row {
        div.logo {
            width: 180px;
            height: 80px;
            margin: 30px 0;
            margin-bottom: 10px;
        }
    }

    &>nav#menu {
        margin: 0 auto;
        position: relative;
        z-index: 30;
        width: 100%;
        height: 67px;
       
        background: #fff;       


        border-bottom: 1px solid  rgba(192, 192, 192, 0.25);
        box-shadow: 0 3px 5px rgba(192, 192, 192, 0.25);
        


        & > ul.depth-1{
            padding: 20px 0;
            position: relative;
            width: $max-width;


            &>ul.sns-menu {

                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
    
                &>li {
    
                    &>a {
                        font-size: 2rem;
                        padding: 0 12px;
                    }
    
                    &:last-child>a {
                        padding-right: 0;
                    }
    
                }
    
            }

            & > div.logo{
                width: 110px;  
                height: auto;
                position: absolute;   
                top:50%;
                left: -30px;
                transform: translateY(-50%);   
                visibility: hidden;
                opacity: 0;
                transition: left 0.3s opacity 0.3s;
                
            }


            
        }

          // sns menu

        &>ul.depth-1>li {
            position: relative;

            &>a {
                color: $key-color;
                opacity: 70%;


                &:hover {
                    opacity: 100%;
                    position: relative;

                    &::after{
                        content: " ";
                        display: block;
                        clear: both;                        
                        width: 80%;
                        height: 3px;
                        background: $key-color;
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        transform: translateX(-50%);
                        
                    }
                }
            }

            // depth 1
            &>a {
                padding: 20px 40px;
                font-size: 1.8rem;
            }

            & > ul.depth-2{
                // depth 2
                position: absolute;
                width: 100%;
                top: 120%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 15;
                padding: 20px 10px;  
                display: none;
                font-family: 'Noto Sans KR', sans-serif;
                
                            

                & > li{
                    margin: 20px 0px;
                    text-align: center;

                    & > a{
                        font-size: 1.4rem;
                    }

                }


                
            }

        }

       & > div.nav-bg{
            width: 100%;
            height: 360px;
            position: absolute;
            z-index: -10;
            top: 100%;
            left: 0;
            background: #fff;
            display: none;


        }





    }


}

// header end
// slider start

section#slide {

    width: 100%;
    
    height: 700px;
    background-color:#ddc1c1;
}

// slider end

// best item start

section#best-items{
    margin: 100px 0;
    font-size: 1.4rem;

    & > div.con{
        background-color: rgba(200,200,200,0.2);
        

        & > div.row{
            // row 1
            max-width: $max-width;
            margin: 0 auto; 
            padding: 20px 0;
            position: relative;

            // img
            & > div.img-con{
                position: relative;
                width: $img-width;
                height: $img-width;
                margin-right: 72px;


                & > div.img-box{  
                    width: $img-width;
                    height: $img-width; 
                    position: absolute; 
                    top: 0;
                    left: 0;                  

    
                    & > img{
                        width: 100%;
                        height: 100%;
                        

                    }

                    &:last-child{
                        width: $small-img-width;
                        height: $small-img-width;
                        top: unset;
                        bottom: 0;
                        left: 60%;
                    }


                }

            }

            // text
            & > div.text-box{

                & > p{
                    margin: 22px 0 40px 0;
                   
                }         

            }



            &:nth-of-type(2){

                // row 2
                flex-direction: row-reverse;
                // img
                 & > div.img-con{
                    margin: 0 0 0 72px;

                    & > div.img-box:last-child {
                        left: unset;
                        right: 60%;
                    }

                }



            }

            &:nth-of-type(3){
                // row 3
                margin: 100px auto;
                padding: 0;

                & > div.img-con{
                    width: auto;
                    height: auto;
                    margin: 0 0 40px 0;
                    

                    & > div.img-box{
                        position: static;
                        width: $small-img-width;
                        height: $small-img-width;

                        &:nth-of-child(2){
                            margin: 0 45px;
                        }

                    }
                }
                

            }
            

        }

    }

    
    

}

// best item end

// store start
section#store{
    & > div.row{
       max-width: $max-width;
       margin: 0 auto;

        & > div.img-box{
            width:450px;
            height: 300px;
            background-color: rgba(200,200,200,0.2);

            &:last-child{
                background-color: rgba(200,200,200,0.4);
            }          


        }

    }
}

// store end
// startup info start

    section#start-up{

        // padding-right: 200px;

        & > div.con{

            max-width:960px;
            margin: 200px auto;
            padding:80px 0 80px 100px;
            background-color: rgba(200,200,200,0.2);
            align-items: flex-end;
            transform: translateX(50%);
            & > div.text-box{
                align-items: flex-end;

                &> h3.title{
                    display: inline-block;
                    text-align: right;
                    color: #5d5454;
                }

                & > div.link-btn > a{
                    border: 1px solid #5d5454;
                }
            }            

        }


    }

// startup info end
// SNS start

section#sns{

    margin-bottom: 200px;

    & > div.con{        
        & > ul.sns-menu {

            &>li {

                &>a {
            font-size: 5rem;
            padding: 0 12px;
        }
    }

}


    }

}

// SNS end
// footer start

    footer{
        width: 100%;
        background-color: #fff;
        border-top: 1px solid  rgba(192, 192, 192, 0.25);
        box-shadow: 0 -3px 5px rgba(192, 192, 192, 0.25);
        font-size: 1.2em;

        & > div.con{
            padding: 50px 0;
            max-width: $max-width;


            & > div.logo{
                width: 120px;
            }
           
            & > ul.footer-menu{
                padding-top: 25px;
                padding-bottom: 48px;
               

                & > li > a{
                    padding: 10px 24px;
                }
            }
           

        }

    }

// footer end