@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@font-face {
  font-family: 'IBMPlexSansKR-Bold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'IBMPlexSansKR-Medium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit; }

/* lib start */
::-moz-selection {
  color: #fff;
  background: #d73e5b; }
::selection {
  color: #fff;
  background: #d73e5b; }

a,
img {
  display: block; }

.con {
  width: 100%; }

.height-100p {
  height: 100%; }

.img-box img {
  width: 100%; }

.block {
  display: block; }

.bold {
  font-style: bold; }

.normal {
  font-style: normal; }

.sans {
  font-family: 'Noto Sans KR', sans-serif; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-jc-a {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.flex-jc-b {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-jc-e {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-d-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-1-0-0 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0; }

.title {
  opacity: 70%;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: #29030b;
  margin-bottom: 120px;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none; }

.subtitle {
  font-weight: 600;
  font-size: 3.3rem; }

.link-btn {
  display: inline-block;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none; }
  .link-btn > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.4rem;
    border: 1px solid #29030b;
    padding: 8px 14px;
    font-weight: 500;
    -webkit-transition: color 0.3s, width 0.3s, border 0.3s;
    transition: color 0.3s, width 0.3s, border 0.3s;
    position: relative;
    z-index: 0; }
    .link-btn > a::after {
      content: "→";
      font-size: 1.8rem;
      margin-left: 10px;
      width: 27px;
      height: 27px;
      display: inline-block;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border: 1px solid #29030b;
      border-radius: 100%;
      -webkit-transition: border 0.5s;
      transition: border 0.5s; }
      .link-btn > a::after > * {
        -webkit-transform: translateY(5px);
                transform: translateY(5px); }
    .link-btn > a::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      opacity: 0;
      height: 100%;
      content: " ";
      background-color: #d73e5b;
      -webkit-transition: opacity 0.3s, width 0.5s;
      transition: opacity 0.3s, width 0.5s;
      z-index: -1; }
    .link-btn > a:hover {
      color: #fff;
      border-color: #d73e5b; }
      .link-btn > a:hover::after {
        border-color: #fff; }
      .link-btn > a:hover::before {
        width: 100%;
        opacity: 1;
        -webkit-transition: opacity 0.3s, width 0.5s;
        transition: opacity 0.3s, width 0.5s; }

.prohibit-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none; }

/* lib end */
@-webkit-keyframes headerfix_ani {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@keyframes headerfix_ani {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@-webkit-keyframes beats_ani {
  from {
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    -webkit-transform: scale(0.95);
            transform: scale(0.95); } }
@keyframes beats_ani {
  from {
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    -webkit-transform: scale(0.95);
            transform: scale(0.95); } }
html,
body {
  font-size: 10px;
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  color: #29030b;
  overflow-x: hidden; }

body.prohibit-scroll {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none; }

header.fixed > div.row {
  padding-bottom: 67px; }
header.fixed > nav#menu {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation-name: headerfix_ani;
          animation-name: headerfix_ani;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; }
  header.fixed > nav#menu > ul.depth-1 div.logo {
    left: 0px;
    visibility: visible;
    opacity: 1;
    -webkit-transition: left 0.8s, opacity 0.7s, visibility 0s;
    transition: left 0.8s, opacity 0.7s, visibility 0s; }
header > div.row div.logo {
  width: 180px;
  height: 80px;
  margin: 100px 0px 50px 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  header > div.row div.logo:hover {
    opacity: 0.5; }
header > nav#menu {
  margin: 0 auto;
  position: relative;
  z-index: 30;
  width: 100%;
  height: 67px;
  background: #fff;
  border-bottom: 1px solid rgba(192, 192, 192, 0.25);
  -webkit-box-shadow: 0 3px 5px rgba(192, 192, 192, 0.25);
          box-shadow: 0 3px 5px rgba(192, 192, 192, 0.25); }
  header > nav#menu > ul.depth-1 {
    padding: 20px 0;
    position: relative;
    width: 1280px;
    font-weight: 500; }
    header > nav#menu > ul.depth-1 > ul.sns-menu {
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
      header > nav#menu > ul.depth-1 > ul.sns-menu > li > a {
        font-size: 2rem;
        padding: 0 12px;
        -webkit-transition: opacity 0.3s, color 0.3s;
        transition: opacity 0.3s, color 0.3s; }
        header > nav#menu > ul.depth-1 > ul.sns-menu > li > a:hover {
          opacity: 0.5;
          color: #d73e5b; }
      header > nav#menu > ul.depth-1 > ul.sns-menu > li:last-child > a {
        padding-right: 0; }
    header > nav#menu > ul.depth-1 > div.logo {
      width: 110px;
      height: auto;
      position: absolute;
      top: 50%;
      left: -30px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      visibility: hidden;
      opacity: 0;
      -webkit-transition: left 0.3s, opacity 0.3s, visibility 0.3s 0.3s;
      transition: left 0.3s, opacity 0.3s, visibility 0.3s 0.3s; }
      header > nav#menu > ul.depth-1 > div.logo:hover {
        opacity: 0.5; }
  header > nav#menu > ul.depth-1 > li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header > nav#menu > ul.depth-1 > li > a {
      color: #29030b;
      position: relative;
      opacity: 70%;
      -webkit-transition: opacity 0.3s, color 0.3s;
      transition: opacity 0.3s, color 0.3s;
      padding: 20px 40px;
      font-size: 1.8rem; }
      header > nav#menu > ul.depth-1 > li > a::after {
        content: " ";
        display: block;
        clear: both;
        width: 0%;
        height: 3px;
        background: #d73e5b;
        position: absolute;
        left: 50%;
        bottom: 0;
        opacity: 0;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        -webkit-transition: opacity 0.3s, width 0.3s;
        transition: opacity 0.3s, width 0.3s; }
    header > nav#menu > ul.depth-1 > li:hover > a {
      opacity: 100%;
      color: #d73e5b; }
      header > nav#menu > ul.depth-1 > li:hover > a::after {
        opacity: 1;
        width: 80%; }
    header > nav#menu > ul.depth-1 > li > ul.depth-2 {
      position: absolute;
      width: 100%;
      top: 120%;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      z-index: 15;
      padding: 20px 10px;
      display: none;
      white-space: nowrap; }
      header > nav#menu > ul.depth-1 > li > ul.depth-2 > li {
        margin: 20px 0px;
        text-align: center; }
        header > nav#menu > ul.depth-1 > li > ul.depth-2 > li > a {
          font-size: 1.4rem; }
        header > nav#menu > ul.depth-1 > li > ul.depth-2 > li:hover > a {
          font-weight: bold;
          color: #d73e5b; }
  header > nav#menu > div.nav-bg {
    width: 100%;
    height: 340px;
    position: absolute;
    z-index: -10;
    top: 100%;
    left: 0;
    background-repeat: no-repeat;
    background-position: right top;
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid rgba(192, 192, 192, 0.25);
    -webkit-box-shadow: 0 3px 3px rgba(192, 192, 192, 0.25);
            box-shadow: 0 3px 3px rgba(192, 192, 192, 0.25);
    display: none; }

section#slide {
  width: 100%;
  margin: 0 auto;
  margin-top: 60px; }
  section#slide > div#slider {
    padding-bottom: 31%;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    section#slide > div#slider.slick-dotted.slick-slider {
      margin-bottom: 0; }
    section#slide > div#slider > div {
      width: 100%;
      height: 100%;
      position: absolute; }
      section#slide > div#slider > div > .slick-track {
        height: 100%; }
        section#slide > div#slider > div > .slick-track > .slick-slide {
          outline: none;
          height: 100%;
          position: relative;
          background-size: 100% auto;
          background-position: center center;
          background-repeat: no-repeat;
          z-index: 1; }
          section#slide > div#slider > div > .slick-track > .slick-slide:focus {
            outline: none; }
          section#slide > div#slider > div > .slick-track > .slick-slide:first-child {
            background-image: url("../img/slide/ban1.png"); }
          section#slide > div#slider > div > .slick-track > .slick-slide:nth-child(2) {
            background-image: url("../img/slide/ban5.png"); }
          section#slide > div#slider > div > .slick-track > .slick-slide:nth-child(3) {
            background-image: url("../img/slide/ban2.png"); }
          section#slide > div#slider > div > .slick-track > .slick-slide:nth-child(4) {
            background-image: url("../img/slide/ban3.png"); }
          section#slide > div#slider > div > .slick-track > .slick-slide a {
            width: 100%;
            height: 100%; }
    section#slide > div#slider > ul.dots {
      position: absolute;
      left: 50%;
      bottom: 5%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      section#slide > div#slider > ul.dots > li {
        padding: 0 5px; }
        section#slide > div#slider > ul.dots > li.slick-active > button {
          opacity: 100%;
          background: #d73e5b;
          width: 12px;
          height: 12px; }
        section#slide > div#slider > ul.dots > li > button {
          content: none;
          border: none;
          width: 8px;
          height: 8px;
          background: #29030b;
          border-radius: 100%;
          outline: none;
          opacity: 80%;
          font-size: 0;
          cursor: pointer;
          -webkit-transition: opacity 0.3s, background 0.3s;
          transition: opacity 0.3s, background 0.3s; }
          section#slide > div#slider > ul.dots > li > button.white {
            background: #fff; }
          section#slide > div#slider > ul.dots > li > button:hover {
            opacity: 100%;
            -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s; }
    section#slide > div#slider > button.slick-arrow {
      position: absolute;
      z-index: 5;
      width: auto;
      height: auto;
      opacity: 100%; }
      section#slide > div#slider > button.slick-arrow.white::before {
        color: #fff; }
      section#slide > div#slider > button.slick-arrow::before {
        font-size: 50px;
        font-family: 'Nanum Myeongjo', 'IBMPlexSansKR-Regular', sans-serif;
        color: #29030b;
        -webkit-transition: color 0.5s;
        transition: color 0.5s;
        opacity: 0.7; }
      section#slide > div#slider > button.slick-arrow.slick-next {
        right: 30px; }
@-webkit-keyframes slick-next {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px); } }
@keyframes slick-next {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px); } }
        section#slide > div#slider > button.slick-arrow.slick-next {
          -webkit-animation: slick-next 1s ease-in-out 0s infinite alternate both;
                  animation: slick-next 1s ease-in-out 0s infinite alternate both; }
        section#slide > div#slider > button.slick-arrow.slick-next::before {
          content: ">"; }
      section#slide > div#slider > button.slick-arrow.slick-prev {
        left: 30px;
        -webkit-animation: slick-prev 1s ease-in-out 0 infinite alternate both;
                animation: slick-prev 1s ease-in-out 0 infinite alternate both; }
@-webkit-keyframes slick-prev {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(20px);
            transform: translateX(20px); } }
@keyframes slick-prev {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(20px);
            transform: translateX(20px); } }
        section#slide > div#slider > button.slick-arrow.slick-prev {
          -webkit-animation: slick-prev 1s ease-in-out 0s infinite alternate both;
                  animation: slick-prev 1s ease-in-out 0s infinite alternate both; }
        section#slide > div#slider > button.slick-arrow.slick-prev::before {
          content: "<"; }

section#best-items {
  margin: 200px 0;
  font-size: 1.4rem;
  position: relative; }
  section#best-items > div.con > div.row {
    max-width: 1280px;
    margin: 0 auto;
    padding: 70px 0;
    padding-bottom: 130px;
    position: relative; }
    section#best-items > div.con > div.row:first-of-type, section#best-items > div.con > div.row:nth-of-type(3) {
      opacity: 0;
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      -webkit-transition: opacity 1s, -webkit-transform 1s;
      transition: opacity 1s, -webkit-transform 1s;
      transition: transform 1s, opacity 1s;
      transition: transform 1s, opacity 1s, -webkit-transform 1s; }
      section#best-items > div.con > div.row:first-of-type.visible, section#best-items > div.con > div.row:nth-of-type(3).visible {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
        -webkit-transition: opacity 1s, -webkit-transform 1s;
        transition: opacity 1s, -webkit-transform 1s;
        transition: transform 1s, opacity 1s;
        transition: transform 1s, opacity 1s, -webkit-transform 1s; }
    section#best-items > div.con > div.row:nth-of-type(2) {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      -webkit-transition: opacity 1s, -webkit-transform 1s;
      transition: opacity 1s, -webkit-transform 1s;
      transition: transform 1s, opacity 1s;
      transition: transform 1s, opacity 1s, -webkit-transform 1s; }
      section#best-items > div.con > div.row:nth-of-type(2).visible {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
        -webkit-transition: opacity 1s, -webkit-transform 1s;
        transition: opacity 1s, -webkit-transform 1s;
        transition: transform 1s, opacity 1s;
        transition: transform 1s, opacity 1s, -webkit-transform 1s; }
    section#best-items > div.con > div.row > div.img-con {
      position: relative;
      width: 400px;
      height: 400px;
      margin-right: 200px;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
      section#best-items > div.con > div.row > div.img-con > div.img-box {
        width: 400px;
        height: 400px;
        position: absolute;
        top: 0;
        left: 0; }
        section#best-items > div.con > div.row > div.img-con > div.img-box > img {
          width: 100%;
          height: 100%; }
        section#best-items > div.con > div.row > div.img-con > div.img-box:last-child {
          width: 250px;
          height: 250px;
          top: unset;
          bottom: 0;
          left: 60%; }
    section#best-items > div.con > div.row > div.text-box > p {
      margin: 22px 0 40px 0;
      font-size: 1.6rem;
      word-break: keep-all; }
    section#best-items > div.con > div.row:nth-of-type(2) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
      section#best-items > div.con > div.row:nth-of-type(2) > div.img-con {
        margin: 0 0 0 200px; }
        section#best-items > div.con > div.row:nth-of-type(2) > div.img-con > div.img-box:last-child {
          left: unset;
          right: 60%; }
      section#best-items > div.con > div.row:nth-of-type(2) > div.text-box {
        text-align: right; }
    section#best-items > div.con > div.row:nth-of-type(3) > div.img-con > div.img-box:first-child {
      width: 400px;
      height: 400px;
      position: absolute;
      top: 0;
      left: 0; }
      section#best-items > div.con > div.row:nth-of-type(3) > div.img-con > div.img-box:first-child > img {
        height: auto; }
    section#best-items > div.con > div.row:nth-of-type(3) > div.img-con > div.img-box:last-child {
      bottom: -50px; }
    section#best-items > div.con > div.row:nth-of-type(4) {
      margin: 150px 0;
      padding: 0;
      max-width: none;
      position: relative; }
      section#best-items > div.con > div.row:nth-of-type(4)::before {
        content: " ";
        position: absolute;
        top: 45%;
        left: 0;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 100%;
        height: 40%;
        z-index: -1;
        background-image: url(../img/Peanutbutter-Crunch-pattern.png);
        background-position: center center;
        background-size: 100%, 100%;
        background-repeat: no-repeat;
        opacity: 0.2; }
      section#best-items > div.con > div.row:nth-of-type(4) > div.img-con {
        width: auto;
        height: auto;
        margin: 0 0 50px 0; }
        section#best-items > div.con > div.row:nth-of-type(4) > div.img-con > div.img-box {
          position: static;
          width: 250px;
          height: 250px;
          opacity: 0;
          -webkit-transform: translateY(80px);
                  transform: translateY(80px);
          -webkit-transition: opacity 1s, -webkit-transform 1s;
          transition: opacity 1s, -webkit-transform 1s;
          transition: transform 1s, opacity 1s;
          transition: transform 1s, opacity 1s, -webkit-transform 1s; }
          section#best-items > div.con > div.row:nth-of-type(4) > div.img-con > div.img-box:nth-child(2) {
            margin: 0 25px; }
          section#best-items > div.con > div.row:nth-of-type(4) > div.img-con > div.img-box > a:hover {
            -webkit-animation: beats_ani 0.3s ease-in-out 0s infinite alternate none;
                    animation: beats_ani 0.3s ease-in-out 0s infinite alternate none; }
      section#best-items > div.con > div.row:nth-of-type(4).visible > div.img-con > div.img-box {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-transition: opacity 1s, -webkit-transform 1s;
        transition: opacity 1s, -webkit-transform 1s;
        transition: transform 1s, opacity 1s;
        transition: transform 1s, opacity 1s, -webkit-transform 1s; }
        section#best-items > div.con > div.row:nth-of-type(4).visible > div.img-con > div.img-box:nth-child(2) {
          -webkit-transition: opacity 1s 0.3s, -webkit-transform 1s 0.3s;
          transition: opacity 1s 0.3s, -webkit-transform 1s 0.3s;
          transition: transform 1s 0.3s, opacity 1s 0.3s;
          transition: transform 1s 0.3s, opacity 1s 0.3s, -webkit-transform 1s 0.3s; }
        section#best-items > div.con > div.row:nth-of-type(4).visible > div.img-con > div.img-box:nth-child(3) {
          -webkit-transition: opacity 1s 0.6s, -webkit-transform 1s 0.6s;
          transition: opacity 1s 0.6s, -webkit-transform 1s 0.6s;
          transition: transform 1s 0.6s, opacity 1s 0.6s;
          transition: transform 1s 0.6s, opacity 1s 0.6s, -webkit-transform 1s 0.6s; }

section#store {
  padding: 150px 0 200px 0; }
  section#store > div.row {
    max-width: 1280px;
    margin: 0 auto;
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.5s;
    transition: opacity 0.3s, -webkit-transform 0.5s;
    transition: opacity 0.3s, transform 0.5s;
    transition: opacity 0.3s, transform 0.5s, -webkit-transform 0.5s; }
    section#store > div.row.visible {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px); }
    section#store > div.row > a {
      width: 640px;
      height: 350px; }
      section#store > div.row > a:first-of-type > div.img-box {
        background-image: url("../img/Waffle-dream.png"); }
      section#store > div.row > a:nth-of-type(2) > div.img-box {
        background-image: url("../img/interior-5002256_1920.jpg"); }
      section#store > div.row > a:hover > div.img-box {
        opacity: 0.7; }
        section#store > div.row > a:hover > div.img-box > div.text-box {
          background-color: rgba(255, 255, 255, 0.7);
          color: #29030b;
          border: transparent; }
      section#store > div.row > a > div.img-box {
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s; }
        section#store > div.row > a > div.img-box > div.text-box {
          width: 200px;
          height: 200px;
          font-size: 3.4rem;
          text-align: center;
          line-height: 3.5rem;
          color: #fff;
          border: 3px solid #fff;
          -webkit-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
          transition: background-color 0.3s, color 0.3s, border-color 0.3s; }

section#start-up {
  opacity: 0;
  margin: 200px auto 50px auto;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  -webkit-transition: opacity 0.7s, -webkit-transform 1s;
  transition: opacity 0.7s, -webkit-transform 1s;
  transition: opacity 0.7s, transform 1s;
  transition: opacity 0.7s, transform 1s, -webkit-transform 1s; }
  section#start-up.visible {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  section#start-up > div.text-box {
    text-align: right;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 640px;
    padding-right: 60px; }
    section#start-up > div.text-box > h3.subtitle {
      font-size: 2.9rem;
      margin-bottom: 10px; }
    section#start-up > div.text-box > p {
      font-size: 1.6rem;
      line-height: 2.5rem; }
      section#start-up > div.text-box > p:first-of-type {
        margin-bottom: 50px; }
  section#start-up > div.con:nth-of-type(2) {
    max-width: 640px;
    padding: 80px 0 80px 70px;
    background-color: rgba(200, 200, 200, 0.2);
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-image: url("../img/startup-info-bg.png");
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat; }
    section#start-up > div.con:nth-of-type(2) > div.text-box {
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
      section#start-up > div.con:nth-of-type(2) > div.text-box > h3.title {
        display: inline-block;
        font-weight: 400;
        text-align: right;
        line-height: 3.5rem;
        margin-bottom: 35px; }

section#sns {
  padding: 150px 0 250px 0; }
  section#sns > div.con {
    margin-top: 150px; }
    section#sns > div.con > ul.sns-menu > li {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
      opacity: 0;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.5s;
      transition: opacity 0.3s, -webkit-transform 0.5s;
      transition: transform 0.5s, opacity 0.3s;
      transition: transform 0.5s, opacity 0.3s, -webkit-transform 0.5s; }
      section#sns > div.con > ul.sns-menu > li > a {
        font-size: 5rem;
        padding: 0 15px; }
  section#sns > div#slider2 {
    max-width: 1280px;
    margin: 0 auto;
    -webkit-transition: opacity 0.7s, -webkit-transform 0.5s;
    transition: opacity 0.7s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.7s;
    transition: transform 0.5s, opacity 0.7s, -webkit-transform 0.5s;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0; }
    section#sns > div#slider2 div.slide-box > div.img-box {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      position: relative; }
      section#sns > div#slider2 div.slide-box > div.img-box > a {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
        section#sns > div#slider2 div.slide-box > div.img-box > a > img {
          -webkit-transition: -webkit-filter 0.3s;
          transition: -webkit-filter 0.3s;
          transition: filter 0.3s;
          transition: filter 0.3s, -webkit-filter 0.3s; }
        section#sns > div#slider2 div.slide-box > div.img-box > a:hover > img {
          -webkit-filter: brightness(0.6);
                  filter: brightness(0.6); }
        section#sns > div#slider2 div.slide-box > div.img-box > a:hover::after {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          content: "\f004  9,999 \f27a  9,999";
          font-family: 'IBMPlexSansKR-Regular', 'Font Awesome 5 Free', 'Noto Sans KR', sans-serif;
          font-weight: 900;
          font-size: 1.5rem;
          word-spacing: 0.7rem;
          color: #fff;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0; }
    section#sns > div#slider2 .slick-list {
      margin: 0 -10px; }
    section#sns > div#slider2 .slick-slide {
      margin: 0 20px;
      outline: none; }
      section#sns > div#slider2 .slick-slide :focus {
        outline: none; }
    section#sns > div#slider2 ul.dots {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 50px 0; }
      section#sns > div#slider2 ul.dots > li {
        padding: 0 5px; }
        section#sns > div#slider2 ul.dots > li > button {
          content: none;
          border: none;
          width: 8px;
          height: 8px;
          background: #29030b;
          border-radius: 100%;
          outline: none;
          opacity: 0.5;
          font-size: 0;
          cursor: pointer;
          -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s; }
          section#sns > div#slider2 ul.dots > li > button:hover {
            opacity: 1; }
        section#sns > div#slider2 ul.dots > li.slick-active > button {
          width: 12px;
          height: 12px;
          opacity: 0.7;
          background-color: #d73e5b; }
    section#sns > div#slider2 button.slick-arrow {
      position: absolute;
      z-index: 5;
      width: auto;
      height: auto;
      opacity: 80%;
      top: 40%; }
      section#sns > div#slider2 button.slick-arrow::before {
        font-size: 50px;
        color: #29030b;
        font-size: 3rem;
        font-family: 'Nanum Myeongjo', 'IBMPlexSansKR-Regular', sans-serif; }
      section#sns > div#slider2 button.slick-arrow.slick-next {
        right: -50px; }
        section#sns > div#slider2 button.slick-arrow.slick-next::before {
          content: ">"; }
      section#sns > div#slider2 button.slick-arrow.slick-prev {
        left: -50px; }
        section#sns > div#slider2 button.slick-arrow.slick-prev::before {
          content: "<"; }
  section#sns.visible > div#slider2 {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }
  section#sns.visible > div.con > ul.sns-menu > li {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition: opacity 0.3s, color 0.3s, -webkit-transform 0.5s;
    transition: opacity 0.3s, color 0.3s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.3s, color 0.3s;
    transition: transform 0.5s, opacity 0.3s, color 0.3s, -webkit-transform 0.5s;
    opacity: 1; }
    section#sns.visible > div.con > ul.sns-menu > li:last-child {
      -webkit-transition: opacity 0.3s 0.3s, color 0.3s, -webkit-transform 0.5s 0.3s;
      transition: opacity 0.3s 0.3s, color 0.3s, -webkit-transform 0.5s 0.3s;
      transition: transform 0.5s 0.3s, opacity 0.3s 0.3s, color 0.3s;
      transition: transform 0.5s 0.3s, opacity 0.3s 0.3s, color 0.3s, -webkit-transform 0.5s 0.3s; }
    section#sns.visible > div.con > ul.sns-menu > li:hover {
      color: #d73e5b; }

footer {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid rgba(192, 192, 192, 0.25);
  -webkit-box-shadow: 0 -3px 5px rgba(192, 192, 192, 0.25);
          box-shadow: 0 -3px 5px rgba(192, 192, 192, 0.25);
  font-size: 1.2em; }
  footer > div.con {
    padding: 80px 0;
    max-width: 1280px; }
    footer > div.con > div.logo {
      width: 120px; }
    footer > div.con > ul.footer-menu {
      padding-top: 25px;
      padding-bottom: 48px; }
      footer > div.con > ul.footer-menu > li {
        position: relative; }
        footer > div.con > ul.footer-menu > li > a {
          padding: 10px 24px; }
          footer > div.con > ul.footer-menu > li > a:hover {
            font-weight: bold; }
        footer > div.con > ul.footer-menu > li::after {
          position: absolute;
          content: "";
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%);
          width: 1px;
          height: 33%;
          background-color: #5d5454; }
        footer > div.con > ul.footer-menu > li:last-child::after {
          display: none; }

@media screen and (min-width: 769px) {
  .mb {
    display: none; } }
@media screen and (max-width: 1440px) {
  html, body {
    font-size: 9px; }

  header > nav#menu > ul.depth-1 {
    width: 992px; }

  section#slide {
    margin-top: 40px; }
    section#slide > div#slider > button.slick-arrow.slick-next::before, section#slide > div#slider > button.slick-arrow.slick-prev::before {
      font-size: 40px; }

  section#best-items > div.con > div.row {
    max-width: 992px; }
    section#best-items > div.con > div.row > div.img-con {
      width: 350px;
      height: 350px;
      margin-right: 150px; }
      section#best-items > div.con > div.row > div.img-con > div.img-box {
        width: 350px;
        height: 350px; }
        section#best-items > div.con > div.row > div.img-con > div.img-box:last-child {
          width: 200px;
          height: 200px; }
    section#best-items > div.con > div.row:nth-of-type(2) > div.img-con {
      margin-left: 150px; }
    section#best-items > div.con > div.row:nth-of-type(3) > div.img-con > div.img-box:first-child {
      width: 350px;
      height: 350px; }

  section#store > div.row {
    max-width: 992px; }

  section#start-up > div.con:nth-of-type(2) {
    max-width: 500px; }

  section#sns > div#slider2 {
    max-width: 992px; } }
@media screen and (max-width: 1280px) {
  .link-btn > a {
    font-size: 1.7rem; }

  .subtitle {
    font-size: 2.5rem;
    word-break: keep-all; }

  header > nav#menu {
    padding: 0 20px; }
    header > nav#menu > ul.depth-1 > li > a {
      font-size: 1.6rem; }

  section#slide {
    margin-top: 30px; }
  @-webkit-keyframes slick-next {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    to {
      -webkit-transform: translateX(-15px);
              transform: translateX(-15px); } }
  @keyframes slick-next {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    to {
      -webkit-transform: translateX(-15px);
              transform: translateX(-15px); } }
    section#slide > div#slider > button.slick-arrow.slick-next {
      -webkit-animation: slick-next 1s ease-in-out 0s infinite alternate both;
              animation: slick-next 1s ease-in-out 0s infinite alternate both; }
  @-webkit-keyframes slick-prev {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    to {
      -webkit-transform: translateX(15px);
              transform: translateX(15px); } }
  @keyframes slick-prev {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    to {
      -webkit-transform: translateX(15px);
              transform: translateX(15px); } }
    section#slide > div#slider > button.slick-arrow.slick-prev {
      -webkit-animation: slick-prev 1s ease-in-out 0s infinite alternate both;
              animation: slick-prev 1s ease-in-out 0s infinite alternate both; }
    section#slide > div#slider > button.slick-arrow.slick-next::before, section#slide > div#slider > button.slick-arrow.slick-prev::before {
      font-size: 35px; }

  section#best-items > div.con > div.row {
    padding: 70px 20px; }
    section#best-items > div.con > div.row > div.text-box > p {
      font-size: 1.6rem; }
    section#best-items > div.con > div.row > div.img-con {
      width: 300px;
      height: 300px;
      margin-right: 100px; }
      section#best-items > div.con > div.row > div.img-con > div.img-box {
        width: 100%;
        height: 100%; }
        section#best-items > div.con > div.row > div.img-con > div.img-box:last-child {
          width: 150px;
          height: 150px; }
    section#best-items > div.con > div.row:nth-of-type(2) > div.img-con {
      margin-left: 100px; }
    section#best-items > div.con > div.row:nth-of-type(3) > div.img-con {
      width: 300px;
      height: 300px; }
      section#best-items > div.con > div.row:nth-of-type(3) > div.img-con > div.img-box:first-child {
        width: 300px;
        height: 300px; }
      section#best-items > div.con > div.row:nth-of-type(3) > div.img-con > div.img-box > img {
        width: 100%;
        height: 100%; }
      section#best-items > div.con > div.row:nth-of-type(3) > div.img-con > div.img-box:last-child {
        width: 150px;
        height: 150px; }
    section#best-items > div.con > div.row:nth-of-type(4) > div.img-con > div.img-box {
      width: 150px;
      height: 150px; }

  section#start-up {
    margin: 150px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    section#start-up div.con:nth-of-type(2) {
      max-width: none;
      margin-bottom: 20px;
      padding: 80px 0; }
      section#start-up div.con:nth-of-type(2) > div.text-box {
        margin: 0 auto;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        section#start-up div.con:nth-of-type(2) > div.text-box > h3.title > br {
          display: none; }
    section#start-up > div.text-box {
      width: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      padding: 50px 20px; }
      section#start-up > div.text-box > h3.subtitle {
        font-size: 2.3rem; } }
@media screen and (max-width: 768px) {
  .pc {
    display: none; }

  .title {
    margin-bottom: 100px; }

  header {
    padding-bottom: 70px; }
    header nav#mb-menu {
      width: 100%;
      height: 70px;
      padding: 0 20px;
      z-index: 999;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #fff;
      border-bottom: 1px solid rgba(192, 192, 192, 0.25);
      -webkit-box-shadow: 0 3px 3px rgba(192, 192, 192, 0.25);
              box-shadow: 0 3px 3px rgba(192, 192, 192, 0.25);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      header nav#mb-menu div.menu-btn {
        width: 35px;
        height: 100%;
        position: relative; }
        header nav#mb-menu div.menu-btn > a {
          width: 100%;
          height: 0;
          padding-bottom: 75%;
          position: absolute;
          top: 50%;
          left: 0;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%); }
          header nav#mb-menu div.menu-btn > a > span.bar {
            display: inline-block;
            width: 100%;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 0;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
            background-color: #29030b;
            -webkit-transition: top 0.3s 0.3s, bottom 0.3s 0.3s, opacity 0.3s 0.3s, -webkit-transform 0.3s;
            transition: top 0.3s 0.3s, bottom 0.3s 0.3s, opacity 0.3s 0.3s, -webkit-transform 0.3s;
            transition: top 0.3s 0.3s, bottom 0.3s 0.3s, opacity 0.3s 0.3s, transform 0.3s;
            transition: top 0.3s 0.3s, bottom 0.3s 0.3s, opacity 0.3s 0.3s, transform 0.3s, -webkit-transform 0.3s; }
            header nav#mb-menu div.menu-btn > a > span.bar:first-child {
              top: 0;
              -webkit-transform: none;
                      transform: none; }
            header nav#mb-menu div.menu-btn > a > span.bar:last-child {
              top: 100%;
              -webkit-transform: translateY(-100%);
                      transform: translateY(-100%); }
        header nav#mb-menu div.menu-btn.active > a > span.bar {
          -webkit-transition: top 0.3s, bottom 0.3s, opacity 0.3s, -webkit-transform 0.3s 0.3s;
          transition: top 0.3s, bottom 0.3s, opacity 0.3s, -webkit-transform 0.3s 0.3s;
          transition: top 0.3s, bottom 0.3s, opacity 0.3s, transform 0.3s 0.3s;
          transition: top 0.3s, bottom 0.3s, opacity 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s; }
          header nav#mb-menu div.menu-btn.active > a > span.bar:first-child {
            top: 50%;
            -webkit-transform: translateY(-50%) rotate(45deg);
                    transform: translateY(-50%) rotate(45deg); }
          header nav#mb-menu div.menu-btn.active > a > span.bar:nth-child(2) {
            opacity: 0; }
          header nav#mb-menu div.menu-btn.active > a > span.bar:last-child {
            top: 50%;
            -webkit-transform: translateY(-50%) rotate(-45deg);
                    transform: translateY(-50%) rotate(-45deg); }
      header nav#mb-menu > div.logo {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
        width: 150px;
        height: 100%;
        z-index: -1; }
        header nav#mb-menu > div.logo > a {
          width: 100%;
          height: 100%;
          padding: 10px 0; }
          header nav#mb-menu > div.logo > a > img {
            margin: 0 auto;
            width: auto;
            height: 100%; }
      header nav#mb-menu > div.menu {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.5);
        visibility: hidden;
        top: 0;
        left: 0;
        opacity: 0;
        -webkit-transition: visibility 0s 0.3s, opacity 0.3s;
        transition: visibility 0s 0.3s, opacity 0.3s; }
        header nav#mb-menu > div.menu.active {
          visibility: visible;
          opacity: 1;
          -webkit-transition: visibility 0.3s, opacity 0.3s;
          transition: visibility 0.3s, opacity 0.3s; }
          header nav#mb-menu > div.menu.active > div.menu-list {
            left: 0;
            -webkit-transition: left 0.5s, opacity 0.5s;
            transition: left 0.5s, opacity 0.5s; }
        header nav#mb-menu > div.menu > div.menu-list {
          position: absolute;
          top: 0;
          left: -100%;
          width: 70%;
          min-width: 250px;
          overflow-x: auto;
          height: 100%;
          padding: 20px;
          background-color: rgba(255, 255, 255, 0.95);
          border-left: 1px solid rgba(192, 192, 192, 0.25);
          -webkit-box-shadow: 3px 0px 3px rgba(192, 192, 192, 0.25);
                  box-shadow: 3px 0px 3px rgba(192, 192, 192, 0.25);
          -webkit-transition: left 0.7s, opacity 0.5s;
          transition: left 0.7s, opacity 0.5s;
          z-index: 1000; }
          header nav#mb-menu > div.menu > div.menu-list > div.menu-btn {
            margin-left: auto;
            width: 25px;
            height: 30px; }
            header nav#mb-menu > div.menu > div.menu-list > div.menu-btn > a > span.bar {
              -webkit-transition: top 0.3s, bottom 0.3s, opacity 0.3s, -webkit-transform 0.3s 0.3s;
              transition: top 0.3s, bottom 0.3s, opacity 0.3s, -webkit-transform 0.3s 0.3s;
              transition: top 0.3s, bottom 0.3s, opacity 0.3s, transform 0.3s 0.3s;
              transition: top 0.3s, bottom 0.3s, opacity 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s; }
              header nav#mb-menu > div.menu > div.menu-list > div.menu-btn > a > span.bar:first-child {
                top: 50%;
                -webkit-transform: translateY(-50%) rotate(45deg);
                        transform: translateY(-50%) rotate(45deg); }
              header nav#mb-menu > div.menu > div.menu-list > div.menu-btn > a > span.bar:nth-child(2) {
                opacity: 0; }
              header nav#mb-menu > div.menu > div.menu-list > div.menu-btn > a > span.bar:last-child {
                top: 50%;
                -webkit-transform: translateY(-50%) rotate(-45deg);
                        transform: translateY(-50%) rotate(-45deg); }
          header nav#mb-menu > div.menu > div.menu-list > ul.depth-1 {
            margin-top: 30px;
            width: 100%;
            height: 100%;
            font-size: 2.7rem; }
            header nav#mb-menu > div.menu > div.menu-list > ul.depth-1 > li {
              margin: 15px 0; }
              header nav#mb-menu > div.menu > div.menu-list > ul.depth-1 > li.active > a {
                color: #d73e5b; }
                header nav#mb-menu > div.menu > div.menu-list > ul.depth-1 > li.active > a::after {
                  content: "-"; }
              header nav#mb-menu > div.menu > div.menu-list > ul.depth-1 > li > a {
                position: relative;
                padding: 15px 0;
                border-bottom: 1px solid #29030b69;
                -webkit-transition: color 0.3s;
                transition: color 0.3s; }
                header nav#mb-menu > div.menu > div.menu-list > ul.depth-1 > li > a:hover {
                  color: #d73e5b; }
                header nav#mb-menu > div.menu > div.menu-list > ul.depth-1 > li > a::after {
                  content: "+";
                  font-size: 0.8em;
                  position: absolute;
                  top: 50%;
                  right: 10px;
                  -webkit-transform: translateY(-50%);
                          transform: translateY(-50%); }
              header nav#mb-menu > div.menu > div.menu-list > ul.depth-1 > li:first-child:active > a::after {
                content: ""; }
              header nav#mb-menu > div.menu > div.menu-list > ul.depth-1 > li:first-child > a::after {
                content: ""; }
            header nav#mb-menu > div.menu > div.menu-list > ul.depth-1 ul.depth-2 {
              padding: 10px 0;
              margin-left: 20px;
              font-size: 0.7em;
              display: none; }
              header nav#mb-menu > div.menu > div.menu-list > ul.depth-1 ul.depth-2 > li > a {
                padding: 5px 0; }
                header nav#mb-menu > div.menu > div.menu-list > ul.depth-1 ul.depth-2 > li > a:hover {
                  font-weight: bold; }
            header nav#mb-menu > div.menu > div.menu-list > ul.depth-1 > ul.sns-menu {
              position: absolute;
              bottom: 50px;
              left: 50%;
              -webkit-transform: translateX(-50%);
                      transform: translateX(-50%);
              font-size: 1.5em; }
              header nav#mb-menu > div.menu > div.menu-list > ul.depth-1 > ul.sns-menu > li > a {
                margin: 0 15px;
                padding: 5px 0px;
                -webkit-transition: color 0.3s;
                transition: color 0.3s; }
                header nav#mb-menu > div.menu > div.menu-list > ul.depth-1 > ul.sns-menu > li > a:hover {
                  color: #d73e5b; }

  section#slide {
    margin-top: 0; }
    section#slide > div#slider {
      padding-bottom: 50%; }
      section#slide > div#slider > div > .slick-track > .slick-slide {
        background-size: auto 100%; }
      section#slide > div#slider > button.slick-arrow.slick-next {
        right: 20px; }
  @-webkit-keyframes slick-next {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    to {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px); } }
  @keyframes slick-next {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    to {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px); } }
        section#slide > div#slider > button.slick-arrow.slick-next {
          -webkit-animation: slick-next 1s ease-in-out 0s infinite alternate both;
                  animation: slick-next 1s ease-in-out 0s infinite alternate both; }
      section#slide > div#slider > button.slick-arrow.slick-prev {
        left: 20px; }
  @-webkit-keyframes slick-prev {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    to {
      -webkit-transform: translateX(10px);
              transform: translateX(10px); } }
  @keyframes slick-prev {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    to {
      -webkit-transform: translateX(10px);
              transform: translateX(10px); } }
        section#slide > div#slider > button.slick-arrow.slick-prev {
          -webkit-animation: slick-prev 1s ease-in-out 0s infinite alternate both;
                  animation: slick-prev 1s ease-in-out 0s infinite alternate both; }
      section#slide > div#slider > button.slick-arrow.slick-next::before, section#slide > div#slider > button.slick-arrow.slick-prev::before {
        font-size: 30px; }

  section#best-items {
    margin: 150px 0;
    margin-bottom: 150px; }
    section#best-items > div.con > div.row {
      padding: 0 20px;
      margin-bottom: 170px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      section#best-items > div.con > div.row > div.text-box {
        margin-top: 35px;
        text-align: center; }
        section#best-items > div.con > div.row > div.text-box > p {
          margin: 20px 0 50px 0; }
      section#best-items > div.con > div.row:nth-of-type(2) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        section#best-items > div.con > div.row:nth-of-type(2) > div.img-con {
          margin: 0; }
        section#best-items > div.con > div.row:nth-of-type(2) > div.text-box {
          text-align: center; }
      section#best-items > div.con > div.row:nth-of-type(3) > div.img-con > div.img-box:first-child {
        width: 300px;
        height: 300px; }
      section#best-items > div.con > div.row:nth-of-type(3) > div.img-con > div.img-box:last-child {
        bottom: -20px; }
      section#best-items > div.con > div.row:nth-of-type(4) > div.img-con > div.img-box {
        width: 150px;
        height: 150px; }
      section#best-items > div.con > div.row > div.img-con {
        width: 300px;
        height: 300px;
        margin: 0; }
        section#best-items > div.con > div.row > div.img-con > div.img-box {
          width: 300px;
          height: 300px; }
          section#best-items > div.con > div.row > div.img-con > div.img-box:last-child {
            width: 150px;
            height: 150px; }

  section#store > div.row > a > div.img-box > div.text-box {
    border-width: 2px; }

  section#sns {
    padding: 50px 0 250px 0; }
    section#sns > div#slider2 .slick-slide {
      margin: 0 5px; } }
@media screen and (max-width: 700px) {
  section#store > div.row {
    width: 100%; }
    section#store > div.row > a {
      width: 50%;
      height: 0;
      padding-bottom: 50%;
      position: relative; }
      section#store > div.row > a > div.img-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
        section#store > div.row > a > div.img-box > div.text-box {
          width: 150px;
          height: 150px;
          font-size: 2rem;
          line-height: 2.5rem; } }
@media screen and (max-width: 500px) {
  .title {
    font-size: 2rem;
    margin-bottom: 65px; }

  .link-btn > a {
    font-size: 1.3rem;
    padding: 8px 10px; }
    .link-btn > a::after {
      font-size: 1.7rem;
      width: 25px;
      height: 25px; }

  header {
    padding-bottom: 50px; }
    header nav#mb-menu {
      height: 50px;
      padding: 0 10px; }
      header nav#mb-menu > div.menu > div.menu-list {
        padding: 15px; }
        header nav#mb-menu > div.menu > div.menu-list > ul.depth-1 {
          font-size: 1.7rem; }
          header nav#mb-menu > div.menu > div.menu-list > ul.depth-1 > li {
            margin: 5px 0; }
            header nav#mb-menu > div.menu > div.menu-list > ul.depth-1 > li > a {
              padding: 7px 0; }
          header nav#mb-menu > div.menu > div.menu-list > ul.depth-1 > ul.sns-menu {
            bottom: 50px; }
      header nav#mb-menu div.menu-btn {
        width: 24px; }

  section#slide > div#slider {
    padding-bottom: 100%; }
    section#slide > div#slider > div > .slick-track > .slick-slide:first-child {
      background-image: url("../img/slide/mb-ban1.png"); }
    section#slide > div#slider > div > .slick-track > .slick-slide:nth-child(2) {
      background-image: url("../img/slide/mb-ban5.png"); }
    section#slide > div#slider > div > .slick-track > .slick-slide:nth-child(3) {
      background-image: url("../img/slide/mb-ban2.png"); }
    section#slide > div#slider > div > .slick-track > .slick-slide:nth-child(4) {
      background-image: url("../img/slide/mb-ban3.png"); }
    section#slide > div#slider > button.slick-arrow {
      display: none; }

  section#best-items {
    margin: 75px 0;
    margin-top: 130px; }
    section#best-items > div.con > div.row {
      padding: 0 10px;
      margin-bottom: 150px; }
      section#best-items > div.con > div.row > div.img-con {
        width: 200px;
        height: 200px; }
        section#best-items > div.con > div.row > div.img-con > div.img-box {
          width: 200px;
          height: 200px; }
          section#best-items > div.con > div.row > div.img-con > div.img-box:last-child {
            width: 100px;
            height: 100px; }
      section#best-items > div.con > div.row > div.text-box > p {
        font-size: 1.3rem;
        line-height: 2.4rem; }
      section#best-items > div.con > div.row > div.text-box > h3.subtitle {
        font-size: 2.2rem; }
      section#best-items > div.con > div.row:nth-of-type(3) > div.img-con {
        width: 200px;
        height: 200px; }
        section#best-items > div.con > div.row:nth-of-type(3) > div.img-con > div.img-box:first-child {
          width: 200px;
          height: 200px; }
        section#best-items > div.con > div.row:nth-of-type(3) > div.img-con > div.img-box:last-child {
          width: 100px;
          height: 100px; }
      section#best-items > div.con > div.row:nth-of-type(4) > div.img-con > div.img-box {
        width: 100px;
        height: 100px; }
        section#best-items > div.con > div.row:nth-of-type(4) > div.img-con > div.img-box:nth-child(2) {
          margin: 0 10px; }

  section#store {
    padding: 70px 0 150px 0; }
    section#store > div.row > a > div.img-box > div.text-box {
      width: 120px;
      height: 120px;
      border-width: 1px; }

  section#start-up {
    margin: 100px auto; }
    section#start-up div.con:nth-of-type(2) {
      padding: 40px 0;
      margin-bottom: 70px; }
      section#start-up div.con:nth-of-type(2) > div.text-box > h3.title {
        font-size: 1.7rem;
        margin-bottom: 15px; }
    section#start-up > div.text-box {
      padding: 0px 10px; }
      section#start-up > div.text-box > h3.subtitle {
        font-size: 1.7rem; }
      section#start-up > div.text-box > p {
        font-size: 1.3rem;
        line-height: 2.4rem; }
        section#start-up > div.text-box > p:first-of-type {
          margin-bottom: 70px; }

  section#sns > div#slider2 .slick-slide {
    margin: 0 2.5px; }
  section#sns > div#slider2 ul.dots {
    margin: 17px 0; }
    section#sns > div#slider2 ul.dots > li.slick-active > button {
      width: 6px;
      height: 6px; }
    section#sns > div#slider2 ul.dots > li > button {
      width: 4px;
      height: 4px; }
  section#sns > div.con {
    margin-top: 50px; }
    section#sns > div.con > ul.sns-menu > li > a {
      font-size: 3rem;
      padding: 0 7px; }

  footer > div.con {
    padding: 50px 0; }
    footer > div.con > div.logo {
      width: 100px; }
    footer > div.con > ul.footer-menu {
      padding: 15px 0;
      padding-bottom: 20px; }
      footer > div.con > ul.footer-menu > li > a {
        font-size: 1rem;
        padding: 3px 5px; }
    footer > div.con > div.copy {
      font-size: 1.1rem; } }
@media screen and (max-width: 319px) {
  html,
  body {
    min-width: 320px; }

  html {
    overflow-x: scroll; }

  header nav#mb-menu {
    min-width: 320px; } }

/*# sourceMappingURL=style.css.map */