@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: 'IBMPlexSansKR-Bold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'IBMPlexSansKR-Medium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit; }

/* lib start */
img {
  display: block; }

.con {
  width: 100%; }

.height-100p {
  height: 100%; }

.img-box img {
  width: 100%; }

.block {
  display: block; }

.bold {
  font-style: bold; }

.normal {
  font-style: normal; }

.plex-bold {
  font-family: 'IBMPlexSansKR-Bold', sans-serif; }

.plex-medium {
  font-family: 'IBMPlexSansKR-Medium', sans-serif; }

.plex-normal {
  font-family: 'IBMPlexSansKR-Regular', sans-serif; }

.sans {
  font-family: 'Noto Sans KR', sans-serif; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-jc-a {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.flex-jc-b {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-jc-e {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-d-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-1-0-0 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0; }

.title {
  opacity: 70%;
  font-family: 'IBMPlexSansKR-Bold', sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #5d5454;
  margin-bottom: 35px; }

.subtitle {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  font-size: 3.6rem; }

.link-btn {
  display: inline-block; }
  .link-btn > a {
    font-size: 1.4rem;
    border: 1px solid #5d5454;
    padding: 8px 14px; }

/* lib end */
@-webkit-keyframes headerfix_ani {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@keyframes headerfix_ani {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
html,
body {
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif !important;
  color: #5d5454;
  overflow-x: hidden; }

header.fixed > div.row {
  padding-bottom: 67px; }
header.fixed > nav#menu {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation-name: headerfix_ani;
          animation-name: headerfix_ani;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; }
  header.fixed > nav#menu > ul.depth-1 div.logo {
    left: 0px;
    visibility: visible;
    opacity: 1;
    -webkit-transition: left 0.8s, opacity 0.7s, visibility 0s;
    transition: left 0.8s, opacity 0.7s, visibility 0s; }
header > div.row div.logo {
  width: 180px;
  height: 80px;
  margin: 30px 0;
  margin-bottom: 10px; }
header > nav#menu {
  margin: 0 auto;
  position: relative;
  z-index: 30;
  width: 100%;
  height: 67px;
  background: #fff;
  border-bottom: 1px solid rgba(192, 192, 192, 0.25);
  -webkit-box-shadow: 0 3px 5px rgba(192, 192, 192, 0.25);
          box-shadow: 0 3px 5px rgba(192, 192, 192, 0.25); }
  header > nav#menu > ul.depth-1 {
    padding: 20px 0;
    position: relative;
    width: 1280px; }
    header > nav#menu > ul.depth-1 > ul.sns-menu {
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
      header > nav#menu > ul.depth-1 > ul.sns-menu > li > a {
        font-size: 2rem;
        padding: 0 12px; }
      header > nav#menu > ul.depth-1 > ul.sns-menu > li:last-child > a {
        padding-right: 0; }
    header > nav#menu > ul.depth-1 > div.logo {
      width: 110px;
      height: auto;
      position: absolute;
      top: 50%;
      left: -30px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      visibility: hidden;
      opacity: 0;
      -webkit-transition: left 0.3s, opacity 0.3s, visibility 0.3s 0.3s;
      transition: left 0.3s, opacity 0.3s, visibility 0.3s 0.3s; }
  header > nav#menu > ul.depth-1 > li {
    position: relative; }
    header > nav#menu > ul.depth-1 > li > a {
      color: #5d5454;
      opacity: 70%; }
      header > nav#menu > ul.depth-1 > li > a:hover {
        opacity: 100%;
        position: relative; }
        header > nav#menu > ul.depth-1 > li > a:hover::after {
          content: " ";
          display: block;
          clear: both;
          width: 80%;
          height: 3px;
          background: #5d5454;
          position: absolute;
          left: 50%;
          bottom: 0;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%); }
    header > nav#menu > ul.depth-1 > li > a {
      padding: 20px 40px;
      font-size: 1.8rem; }
    header > nav#menu > ul.depth-1 > li > ul.depth-2 {
      position: absolute;
      width: 100%;
      top: 120%;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      z-index: 15;
      padding: 20px 10px;
      display: none;
      font-family: 'Noto Sans KR', sans-serif;
      white-space: nowrap; }
      header > nav#menu > ul.depth-1 > li > ul.depth-2 > li {
        margin: 20px 0px;
        text-align: center; }
        header > nav#menu > ul.depth-1 > li > ul.depth-2 > li > a {
          font-size: 1.4rem; }
        header > nav#menu > ul.depth-1 > li > ul.depth-2 > li:hover > a {
          font-weight: bold; }
  header > nav#menu > div.nav-bg {
    width: 100%;
    height: 360px;
    position: absolute;
    z-index: -10;
    top: 100%;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(192, 192, 192, 0.25);
    -webkit-box-shadow: 0 3px 3px rgba(192, 192, 192, 0.25);
            box-shadow: 0 3px 3px rgba(192, 192, 192, 0.25);
    display: none; }

section#slide {
  width: 100%;
  height: 700px; }
  section#slide > div#slider {
    width: 100%;
    height: 100%;
    overflow: hidden; }
    section#slide > div#slider > div {
      width: 100%;
      height: 100%;
      background-color: #ddc1c1; }
      section#slide > div#slider > div > .slick-track {
        height: 100%; }
        section#slide > div#slider > div > .slick-track > .slick-slide {
          height: 100%;
          position: relative; }
          section#slide > div#slider > div > .slick-track > .slick-slide img {
            width: 100%;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%); }

section#best-items {
  margin: 100px 0;
  font-size: 1.4rem; }
  section#best-items > div.con {
    background-color: rgba(200, 200, 200, 0.2); }
    section#best-items > div.con > div.row {
      max-width: 1280px;
      margin: 0 auto;
      padding: 20px 0;
      position: relative; }
      section#best-items > div.con > div.row > div.img-con {
        position: relative;
        width: 300px;
        height: 300px;
        margin-right: 72px; }
        section#best-items > div.con > div.row > div.img-con > div.img-box {
          width: 300px;
          height: 300px;
          position: absolute;
          top: 0;
          left: 0; }
          section#best-items > div.con > div.row > div.img-con > div.img-box > img {
            width: 100%;
            height: 100%; }
          section#best-items > div.con > div.row > div.img-con > div.img-box:last-child {
            width: 170px;
            height: 170px;
            top: unset;
            bottom: 0;
            left: 60%; }
      section#best-items > div.con > div.row > div.text-box > p {
        margin: 22px 0 40px 0; }
      section#best-items > div.con > div.row:nth-of-type(2) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse; }
        section#best-items > div.con > div.row:nth-of-type(2) > div.img-con {
          margin: 0 0 0 72px; }
          section#best-items > div.con > div.row:nth-of-type(2) > div.img-con > div.img-box:last-child {
            left: unset;
            right: 60%; }
      section#best-items > div.con > div.row:nth-of-type(3) {
        margin: 100px auto;
        padding: 0; }
        section#best-items > div.con > div.row:nth-of-type(3) > div.img-con {
          width: auto;
          height: auto;
          margin: 0 0 40px 0; }
          section#best-items > div.con > div.row:nth-of-type(3) > div.img-con > div.img-box {
            position: static;
            width: 170px;
            height: 170px; }
            section#best-items > div.con > div.row:nth-of-type(3) > div.img-con > div.img-box:nth-of-child(2) {
              margin: 0 45px; }

section#store > div.row {
  max-width: 1280px;
  margin: 0 auto; }
  section#store > div.row > div.img-box {
    width: 450px;
    height: 300px;
    background-color: rgba(200, 200, 200, 0.2); }
    section#store > div.row > div.img-box:last-child {
      background-color: rgba(200, 200, 200, 0.4); }

section#start-up > div.con {
  max-width: 960px;
  margin: 200px auto;
  padding: 80px 0 80px 100px;
  background-color: rgba(200, 200, 200, 0.2);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transform: translateX(50%);
          transform: translateX(50%); }
  section#start-up > div.con > div.text-box {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    section#start-up > div.con > div.text-box > h3.title {
      display: inline-block;
      text-align: right;
      color: #5d5454; }
    section#start-up > div.con > div.text-box > div.link-btn > a {
      border: 1px solid #5d5454; }

section#sns {
  margin-bottom: 200px; }
  section#sns > div.con > ul.sns-menu > li > a {
    font-size: 5rem;
    padding: 0 12px; }

footer {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid rgba(192, 192, 192, 0.25);
  -webkit-box-shadow: 0 -3px 5px rgba(192, 192, 192, 0.25);
          box-shadow: 0 -3px 5px rgba(192, 192, 192, 0.25);
  font-size: 1.2em; }
  footer > div.con {
    padding: 50px 0;
    max-width: 1280px; }
    footer > div.con > div.logo {
      width: 120px; }
    footer > div.con > ul.footer-menu {
      padding-top: 25px;
      padding-bottom: 48px; }
      footer > div.con > ul.footer-menu > li > a {
        padding: 10px 24px; }

/*# sourceMappingURL=style.css.map */